!README.md
!.gitignore

GUI/
Debug/
Zybo.cache/
Zybo.runs/
Zybo.sim/
Packages/
.jobs/
.Xil/
.vscode/

*.sdk/.metadata
*.sdk/**/*RemoteSystemsTempFiles
*.sdk/**/*Debug/*
*.sdk/**/*Release
*.sdk/**/*webtalk
*.sdk/*webtalk/
*.sdk/.sdk
*.sdk/*.log

*.sdk/*bsp/ps7_cortexa9_0/
*.hw/

*.log
*.jou
*.str
*.mti
*.mpf
*.zip
*.7z


# Make sure we keep only xci files in ip src subfolder
*src/**/ip/*/**
!*src/**/ip/*/*.xci
!*src/**/ip/*/*.prj
# Do not ignore anything in src/others
!*src/**/others/*
# Do not ignore block diagram files
!*src/**/bd/**